
html {
    overflow-x: hidden;
}

.l-wrap {
    max-width: 600px;
    margin: auto;
}

.l-page {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
    @media(min-width: 800px){
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto 1fr auto;
    }
}

.l-hdr {
    @media(min-width: 800px){
        grid-row: 1;
        grid-column: span 2;
    }
}

.l-main {
    grid-row: 2;
    grid-column: 1;
    transition: 300ms cubic-bezier(0.16, 1.6, 0.49, 1);
    @media(min-width: 800px){
        grid-column: 2;
    }
}

.l-nav {
    grid-row: 2;
    grid-column: 1;
    transform: translateX(-100%);
    transition: 300ms cubic-bezier(0.16, 1.6, 0.49, 1);
    @media(min-width: 800px){
        transform: none;
    }
}

.l-ftr {
    @media(min-width: 800px){
        grid-row: 3;
        grid-column: span 2;
    }
}


// Nav states

.is-navOpen.l-page {
    height: 100vh;
}

.is-navOpen .l-nav {
    @media(max-width: 799px){
        transform: translateX(0%);
    }
}
.is-navOpen .l-main {
    @media(max-width: 799px){
        transform: translateX(100%);
        overflow: hidden;
    }
}

// this is a naff place to have this code, but it's along side the rest of the nav related styles
[data-nav] {
    @media(min-width: 800px){
        display: none !important;
    }
}