.l-wrap {
    max-width: 600px;
    margin: auto;
}

.l-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    > * {
        flex-grow: 0;
        flex-shrink: 0;
    }
    &Content {
        flex-grow: 1;
        flex-shrink: 0;
    }
}