@viewport {
    width: device-width;
    zoom: 1.0;
}


$fontFamily: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen-Sans, Helvetica Neue, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$rem: 14px;


$color-primary: #F44336;
$color-accent: #607D8B;
$color-text: #444;
$color-text_alt: #fff;
$color-bg: #37474F;





@mixin cover(){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}