@viewport {
    width: device-width;
    zoom: 1.0;
}


:root {
    --fontFamily: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen-Sans, Helvetica Neue, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --fontLogo: Passion One, Arial, sans-sreif;
    --rem: 14px;

    --color-primary: #F44336;
    --color-bg: #37474F;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}