.btn {
    padding: 6px 12px;
    border-radius: 3px;
    display: inline-block;
    color: rgba(white,0.5);
    border: 0;
    position: relative;
    background: {
        color: desaturate(darken($color-primary,10),30);
        position: center center;
        repeat: no-repeat;
    }
    transition: 300ms ease;
    outline: 0;

    &:focus {
        box-shadow: 1px 1px 0 0 rgba(white,0.8);
    }

    &:after {
        content: "";
        display: inline-block;
        vertical-align: -9px;
        padding: 14px;
        margin-left: 8px;
        opacity: 0.5;
        transition: inherit;
        background: {
            position: center;
            repeat: no-repeat;
        }
    }

    &::-moz-focus-inner {
        border: 0;
    }

    &_short {
        &:after {
            background: {
                image: url("img/ic_movie_white_24px.svg");
            }
        }
        .is-showShorts & {
            background: $color-primary;
            color: white;
            &:after {
                opacity: 1;
            }
        }
    }

    &_tv {
        &:after {
            background: {
                image: url("img/ic_tv_white_24px.svg");
            }
        }
        .is-showTv & {
            background: $color-primary;
            color: white;
            &:after {
                opacity: 1;
            }
        }
    }

    &_film {
        &:after {
            background: {
                image: url("img/ic_local_movies_white_24px.svg");
            }
        }
        .is-showFilms & {
            background: $color-primary;
            color: white;
            &:after {
                opacity: 1;
            }
        }
    }

    &_flip {
        background: $color-primary;
        color: white;
        &:after {
            opacity: 1;
            background: {
                image: url("img/ic_arrow_upward_white_24px.svg");
            }
            transition: transform 200ms cubic-bezier(0.5,0,0,1);
            transform: rotate(180deg);
        }
        .is-flipped & {
            &:after {
                transform: rotate(0deg);
            }
        }
    }


    &_modal {
        background: $color-primary;
        color: white;
        &:after {
            background: {
                image: url("img/ic_close_white_24px.svg");
            }
            opacity: 1;
        }
        float: right;
    }
}