.btn {
    padding: 6px 12px;
    border-radius: 3px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    border: 0;
    position: relative;
    background: none;
    transition: 300ms ease;
    outline: 0;
    cursor: pointer;
    flex-direction: row;

    &_icon {
        flex-direction: column;
        svg {
            margin-bottom: 8px;
        }
    }

    &:focus {
        text-decoration: underline;
    }

    &::-moz-focus-inner {
        border: 0;
    }

    &_invert {
        background: var(--color-primary);
        color: white;
    }

    &_flip {
        text-align: center;
        justify-content: start;
        color: white;
        border: 1px solid white;
        svg {
            transition: transform 200ms ease;
        }
        &.is-flipped svg {
            transform: rotate(180deg);
        }
        span {
            flex-grow: 1;
        }
    }


    &_modal {
        background: var(--color-primary);
        color: white;
        position: absolute;
        top: 4px;
        right: 4px;
        font-size: 0;
        padding: 0;
        &:before {
            content: "";
            background-image: url("img/ic_close_white_24px.svg");
            opacity: 1;
            margin: 0;
            width: 24px;
            height: 24px;
        }
    }
}