.btn {
    padding: 6px 12px;
    border-radius: 3px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-primary;
    border: 0;
    position: relative;
    background: none;
    transition: 300ms ease;
    outline: 0;

    @media(min-width: 600px){
        flex-direction: row;

        svg {
            margin-right: 8px;
            margin-left: -4px;
        }
    }

    &:focus {
        text-decoration: underline;
    }

    &::-moz-focus-inner {
        border: 0;
    }

    &_invert {
        background: $color-primary;
        color: white;
    }

    .is-hideShorts &_short {
        opacity: 0.5;
    }
    .is-hideTv &_tv {
        opacity: 0.5;
    }
    .is-hideFilms &_film {
        opacity: 0.5;
    }
    &_flip {
        svg {
            transition: transform 200ms ease;
        }
        .is-flipped & svg {
            transform: rotate(180deg);
        }
    }


    &_modal {
        background: $color-primary;
        color: white;
        position: absolute;
        top: 4px;
        right: 4px;
        font-size: 0;
        padding: 0;
        &:before {
            content: "";
            background-image: url("img/ic_close_white_24px.svg");
            opacity: 1;
            margin: 0;
            width: 24px;
            height: 24px;
        }
    }
}

.LinkImg {
    width: 55px;
    padding: 5px;
    border-radius: 20%;
}