.ftr {
    background: color-mod( black alpha(0.6) );
    text-align: center;
    padding: 8px;
    margin-top: 32px;
    position: relative;
    z-index: 6;
    @media(min-width: 500px){
        padding: 12px;
    }
}