.lnk {
    background: none;
    border: 0;
    padding: 0;
    display: inline;
    color: var(--color-primary);
    text-decoration: underline;
    font-family: var(--fontFamily);
    font-size: 1em;
    line-height: 1em;
    outline: 0;
    cursor: pointer;
}