.modal {
    @include cover();
    position: fixed;
    z-index: 999;
    padding: 0 16px;
    height: 0;
    overflow: hidden;
    transition-duration: 0ms;
    transition-delay: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;

    &.is-open {
        height: 100%;
        transition: 0ms;
    }

    &-hidden {
        position: absolute;
        left: -99999px;
        top: -99999px;
        width: 0;
        height: 0;
        overflow: hidden;
    }

    &-overlay {
        @include cover();
        background: color-mod( black alpha(0.5) );
        z-index: 1;
        opacity: 0;
        transition: 200ms ease;
        .is-open & {
            opacity: 1;
        }
    }

    &-content {
        position: relative;
        z-index: 2;
        padding: 16px;
        background: white;
        box-shadow: 0 1px 2px 0 color-mod( black alpha(0.8) );
        max-width: 500px;
        opacity: 0;
        transition: 200ms ease-in;
        transform: translateY(-20%);
        max-height: 90vh;
        overflow-y: auto;

        @media(min-width: 600px){
            padding: 32px;
        }

        .is-open & {
            transform: translateY(0%);
            transition: 400ms ease-out;
            transition-timing-function: cubic-bezier(0.77, 1.79, 0.58, 0.83);
            opacity: 1;
        }

        h2 {
            font-weight: bold;
            font-size: 1.5em;
            margin: 0 0 16px;
            color: color-mod( $color-text alpha(0.8) );
            font-family: Passion One, Arial, sans-sreif;
        }

        p {
            margin: 0 0 8px;
            line-height: 1.3;
            &:last-child {
                margin: 0;
            }
        }

        a {
            @extend .lnk;
        }

    }
}