.select {
    display: inline-block;
    padding: 8px;
    border-radius: 3px;
    background: white;
    width: 100%;
    outline: 0;

    &:focus {
        box-shadow: 1px 1px 0 0 hsla(0, 0%, 100%, 0.8);
    }

    &-label {
        display: block;
        color: hsla(0, 0%, 100%, 0.8);
        margin-bottom: 4px;
        text-align: left;
        font-family: var(--fontLogo);
        font-size: 1.2em;
    }
}