.timeline {
    padding: 32px 16px 0;
    background: $color-bg;
    position: relative;

    &-ctrls {
        margin-bottom: 24px;
        text-align: left;
    }
    &-ctrlsL {
        display: flex;
        justify-content: space-around;
        width: 100%;
        text-align: right;
        vertical-align: bottom;
        margin-top: 16px;
        @media(min-width: 500px){
            display: inline-block;
            width: 40%;
            margin: 0;
        }
        & > *:not(:first-child) {
            margin-left: 8px;
        }
    }

    &-list {
        padding-left: 16px;
        border-left: 2px solid rgba(white,0.6);
        margin-bottom: 64px;
        position: relative;
        .is-showFilms &,
        .is-showShorts &,
        .is-showTv & {
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -2px;
                width: 2px;
                height: 16px;
                background: $color-bg;
            }
            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: -2px;
                width: 2px;
                height: 64px;
                background: linear-gradient(180deg, rgba(white,0.6), transparent);
            }
        }
        .is-flipped & {
            margin-top: 32px;
            &:before {
                background: linear-gradient(0deg, rgba(white,0.6), transparent);
                top: auto;
                bottom: 100%;
            }
            &:after {
                width: 8px;
                height: 2px;
                background: rgba(white,0.6);
                margin-left: -3px;
            }
        }
    }

    &-card {
        padding: 16px;
        margin-bottom: 16px;
        background: white;
        border-radius: 3px;
        box-shadow: 0 3px 2px 1px rgba(black,0.4);
        position: relative;
        &:before {
            content: "";
            position: absolute;
            right: 100%;
            top: 16px;
            width: 16px;
            height: 2px;
            background: rgba(white,0.6);
        }
        &:after {
            content: "";
            position: absolute;
            top: 12px;
            right: 100%;
            margin-right: 12px;
            width: 10px;
            height: 10px;
            background: $color-primary;
            border-radius: 99px;
        }
        &_film {
            display: none;
            &:after {
                width: 14px;
                height: 14px;
                top: 10px;
                margin-right: 10px;
            }
            .is-showFilms & {
                display: block;
            }
        }
        &_short{
            .is-showShorts & {
                display: block;
            }
        }
        &_episode{
            .is-showTv & {
                display: block;
            }
        }
        &_short,
        &_episode {
            display: none;
            &:after {
                top: 13px;
                margin-right: 12px;
                width: 8px;
                height: 8px;
            }
        }
        &.is-unreleased {
            opacity: 0.6;
        }
    }


    &-title {
        font-weight: bold;
        font-size: 1.2em;
        line-height: 1.2em;
        margin-bottom: 8px;
    }

    &-subTitle {
        font-size: 0.8em;
        color: rgba($color-text,0.8);
        display: inline-block;
    }

    &-type {
        text-transform: uppercase;
        color: rgba($color-text,0.6);
        font-weight: bold;
        font-family: Passion One, Arial, sans-sreif;
        letter-spacing: 1px;
        font-size: 1.3em;
        display: inline-block;
        vertical-align: top;
        padding-right: 8px;
        width: 20%;
        @media(min-width: 650px){
            width: 15%;
        }
    }

    &-detail {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        @media(min-width: 400px){
            width: 80%;
        }
        @media(min-width: 650px){
            width: 85%;
        }
    }

    &-epsTitle {
        border-bottom: 1px solid rgba(black,0.2);
        padding: 8px 0 4px;
        margin-bottom: 8px;
        width: 66%;
        font-weight: normal;
    }

    &-eps {
        list-style: none;
        padding-left: 8px;
    }
    &-ep {
        padding-bottom: 6px;
        &.is-unreleased {
            opacity: 0.6;
        }
    }
    &-epNum {
        display: inline-block;
        vertical-align: top;
        padding-right: 8px;
        width: 2em;
        color: rgba($color-text,0.8);
        text-align: right;
    }
    &-epName {
        display: inline-block;
        vertical-align: top;
        width: calc(calc(100% - 2em) - 8px);
    }
}