.timeline {
    padding: 32px 16px 0;
    background: $color-bg;
    position: relative;

    &-ctrls {
        margin-bottom: 24px;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 8px;
        @media(min-width: 450px){
            grid-template-columns: 1fr 1fr;
        }
        @media(min-width: 600px){
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &-list {
        position: relative;
    }

    &-card {
        margin-bottom: 16px;
        background: white;
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        &.is-unreleased {
            opacity: 0.6;
        }
        @media(min-width: 400px){
            display: grid;
            grid-template-columns: 120px 2fr;
        }
    }

    &-posterFrame {
        background: black;
    }

    &-poster {
        max-width: 100%;
        max-height: 200px;
        display: block;
        margin: auto;
    }


    &-title {
        font-weight: bold;
        font-size: 1.2em;
        line-height: 1.2em;
        padding-bottom: 8px;
    }

    &-subTitle {
        font-size: 0.8em;
        color: color-mod( $color-text alpha(0.8) );
        display: inline-block;
    }

    &-type {
        text-transform: uppercase;
        color: color-mod( $color-text alpha(0.6) );
        font-weight: bold;
        font-family: Passion One, Arial, sans-sreif;
        letter-spacing: 1px;
        font-size: 1.3em;
        padding-bottom: 8px;
    }

    &-detail {
        padding: 16px;
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

    &-epsTitle {
        border-top: 4px solid $color-bg;
        padding: 16px 16px 8px;
        font-weight: normal;
        font-weight: bold;
    }

    &-eps {
        @media(min-width: 400px){
            grid-column: 1 / 3;
        }
    }

    &-epList {
        list-style: none;
        padding: 16px;
    }

    &-ep {
        padding-bottom: 8px;
        display: grid;
        grid-template-columns: 2em 1fr auto;
        &.is-unreleased {
            opacity: 0.6;
        }
    }

    &-epNum {
        display: inline-block;
        vertical-align: top;
        padding-right: 8px;
        color: color-mod( $color-text alpha(0.8) );
        text-align: right;
    }

    &-epName {
        display: inline-block;
        vertical-align: top;
    }

    &-release {
        color: color-mod( $color-text alpha(0.8) );
        padding-left: 8px;
    }
}